/* global */
html,
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.section {
  padding: 5rem 0;
}

/* header */
.header__top {
  background-color: #363d41;
  font-size: 16px;
  padding: 10px 0;
}
.header__left a {
  line-height: 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}
.header__left i {
  color: #fff;
  transition: all 0.5s;
}
.header__left i:hover {
  color: #527dbd;
}
.header__right {
  padding-right: 150px;
}
.header__left {
  padding-left: 150px;
}
.header__right a {
  text-decoration: none;
  letter-spacing: 2px;
}
.header__right i {
  font-weight: 900;
}
