/* global */
html,
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.section {
  padding: 5rem 0;
}
.heading {
  text-align: center;
  margin-bottom: 4rem;
}
.heading h2 {
  font-size: 3em;
  color: #2c363e;
  letter-spacing: 0.5px;
  text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
}
.heading p {
  color: #5e5e5e;
  font-size: 15px;
  margin: 20px auto;
  letter-spacing: 1px;
  line-height: 1.8em;
  text-align: center;
}
/* header */
.header__top {
  background-color: #363d41;
  font-size: 16px;
  padding: 10px 0;
}
.header__left a {
  line-height: 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}
.header__left i {
  color: #fff;
  transition: all 0.5s;
}
.header__left i:hover {
  color: #527dbd;
}
.header__right {
  padding-right: 150px;
}
.header__left {
  padding-left: 150px;
}
.header__right a {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
}
.header__right i {
  font-weight: 900;
}

/* carousel */
.navMerged .navbar-brand h1 {
  color: #7f67f8;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.1;
}
.navMerged .navbar-brand span {
  color: #868c94;
  font-size: 30px;
  font-weight: 500;
  font-weight: bold;
}
.navMerged a {
  color: #000;
}
#navbarMerged .nav-item {
  margin: 0 7px;
}
#navbarMerged .nav-link {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.5s;
}
#navbarMerged .nav-item:hover .nav-link {
  color: #7f67f8;
}
#navbarMerged .nav-item.active .nav-link {
  color: #7f67f8;
}
.navMerged .navbar-toggler {
  background-color: #7f67f8;
  padding: 0.3rem 0.6rem;
  margin-top: 5px;
  line-height: 1px;
  border: 1.2px solid transparent;
}
.navMerged .navbar-toggler:focus {
  outline: none;
}
.navMerged .navbar-toggler i {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100% 100%;
}

.carouselBanner {
  background-image: url(../img/b1.jpg);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 800px;
}

#carouselMerged {
  height: 100%;
  background: rgba(0, 0, 0, 0.37);
}

#carouselMerged .carousel-inner {
  height: 100%;
}

#carouselMerged .carousel-inner .carousel-item {
  height: 100%;
  margin-right: 0;
}

#carouselMerged .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselMerged .carousel-indicators {
  top: 550px;
}
/*3 nút cuộn*/
#carouselMerged .carousel-indicators li {
  background: #7f67f8;
  width: 10px;
  height: 10px;
  border: 3px solid #7f67f8;
  border-radius: 10px;
  margin: 0 6px;
}
#carouselMerged .carousel-indicators .active {
  background: #fff;
  border: 3px solid #fff;
}

/*Tiêu đề trên carousel*/
#carouselMerged .carousel-caption h3 {
  font-size: 3.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
}
#carouselMerged .carousel-caption p {
  font-size: 16px;
  line-height: 28px;
  margin: 40px auto 40px;
  width: 70%;
  letter-spacing: 1px;
}
#carouselMerged .carousel-caption .btn {
  padding: 6px 35px;
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0;
  border: 2px solid #fff;
  transition: all 0.5s;
}
#carouselMerged .carousel-caption .btn-read {
  background-color: #7f67f8;
  border: 2px solid #7f67f8;
}
#carouselMerged .carousel-caption .btn-read:hover {
  background: none;
  border: 2px solid #fff;
}

#carouselMerged .carousel-caption .btn-about:hover {
  background-color: #7f67f8;
  border: 2px solid #7f67f8;
}

/* WHAT YOU GET */
.Whuget__row {
  text-align: center;
}
/*Kẻ vạch*/
.bord {
  background: #e8e8e8;
  height: 1px;
  width: 75%;
  margin: 0 auto 3em;
}

.Whuget .get__content2 {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
/*Icon và content*/
.Whuget .Whuget__row i {
  font-size: 40px;
  color: #f97c69;
}
.Whuget .Whuget__row h4 {
  font-size: 22px;
  color: #151515;
  letter-spacing: 0.075em;
  font-weight: 600;
  margin: 20px 0;
}
.Whuget .Whuget__row p {
  font-size: 17px;
  margin: 0;
  color: #777;
  line-height: 1.8em;
  font-weight: 400;
  padding: 0 18px;
}
/* <!-- SOLUTIONS --> */
/* TOP */
.solution__top {
  background-image: url(../img/3.jpg);
  text-align: center;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  padding: 5.7em 0;
}
.solution__top h3 {
  color: #fff;
  letter-spacing: 4px;
  font-size: 40px;
}
.solution__top a {
  font-size: 1em;
  padding: 0.7em 2em;
  letter-spacing: 2px;
  display: inline-block;
  text-decoration: none;
  background-color: #7f67f8;
  color: #fff;
  transition: all 0.5s;
}
.solution__top a:hover {
  background-color: #f97c69;
}
/* BOTTOM */
.solution__bottom .sol__content h2 {
  width: 65%;
  font-size: 42px;
  line-height: 1.2em;
  margin: 0 auto;
}
.solution__bottom .sol__content p {
  font-size: 15px;
  color: #777;
  margin: 1em 0 5em;
}
.solution__bottom .solution__number {
  text-align: center;
}
.solution__bottom .solution__number p {
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #f97c69;
  margin: 0 0 0.2em 0;
}
.solution__bottom .solution__number h3 {
  font-size: 20px;
  color: #2c363e;
  letter-spacing: 2px;
  font-weight: 600;
}
.solution__bottom .solution__number h6 {
  font-size: 17px;
  margin-top: 0.8em;
  color: #777;
}
